
{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  <div class="text-center">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>Please sign in with GitHub.<br>
    </p>
    <a href="http://127.0.0.1:8000/auth/github/url/">GitHub</a>


    </div>

    

    {% endif %}
  </div>
  
{% endblock %}
